tr:nth-child(odd) {
    background-color: aqua;
}

tr:nth-child(even) {
    background-color: cadetblue;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: red;
    text-decoration: none;
}
