tr:nth-child(odd) {
    background-color: aqua;
}

tr:nth-child(even) {
    background-color: cadetblue;
}

body {
    display: flex;
    flex-direction: column;
    background-color: azure;
    margin: 0;
}


header {
    background-color: bisque;
    order: -1;
    max-height: 380px;
}

.main {
    display: flex;
    flex-direction: row;
}

.main p {
    font-size: 70px;
    color: brown;
    margin-left: 26%;
}

.menu a {
    text-decoration: none;
    font-size: 40px;
    color: chocolate;
    display: flex;
    flex-direction: column;
}



.tableN {
    order: -1;
    margin-left: 35%;
}

td {
    height: 50px;
    width: 50px;
}

tr {
    text-align: center;
}

.bodyLinks {
    margin-left: 35%;
}

.form {
    margin-left: 35%;
    background-color: azure;
}

.menu {
    margin-left: 40%;
    margin-bottom: 20%;
}

.logo {
    max-height: 100px;
}

@media (min-width: 1000px) {
    #footer, header, .tableN, .bodyLinks, .form {
        order: 0;
    }
    .main p {
        margin-left: 2%;
    }
    .menu {
        display: flex;
    }
    header {
        max-height: 300px;
    }
    .menu a {
        margin-left: 20%;
    }
}