tr:nth-child(odd) {
    background-color: aqua;
}

tr:nth-child(even) {
    background-color: cadetblue;
}

body {
    display: flex;
    flex-direction: column;
}

.form {
    margin-left: 40%;
    order: 3;
}

.bodyLinks {
    margin-left: 35%;
    order: 2;
}

.tableN {
    margin-left: 40%;
    order: 1;
}

table {
    text-align: center;
}

tr {
    height: 40px;
}

td {
    width: 50px;
}

header {
    background-color: blanchedalmond;
    height: 175px;
    display: flex;
    order: -1;
}
.main p {
    font-size: 70px;
    color: brown;
    font-family: Verdana;
}

.logo {
    margin-left: 10%;
}

.main {
    display: flex;
}

.menu a {
    color:rgb(145, 139, 56);
    font-size: 30px;
    display: flex;
    text-decoration: none;
    flex-direction: row;
    margin-left: 70%;
    margin-top: 15%;
}


#footer {
    height: 50px;
    background-color: antiquewhite;
    display: flex;
    order: 3;
}

@media all and (min-width: 800px) {
    .menu a {
        margin-left: 85%;
        margin-top: 40%;
    }
}