
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.hw {
    width: 100%;
    height: 100%;
    box-shadow: 4px 4px 30px 2px rgba(110, 109, 17, 0.9);
    order: -1;
    flex-direction: column;
    display: flex;
    background-color:#ccc; 
}


.menu {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-flow: row nowrap;
    height: inherit;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li {
    display: inline-block;
    margin-top: -15px;
    margin-left: 150px;
}

.menu li a{
    display: inline-block;
    color:darkolivegreen;
    text-decoration: none;
    font-size: 35px;
    padding: 10px 10px;
    opacity: 0.8;
    border-radius: 35px;
    background-color: rgba(188, 199, 94, 0.384);
}

.menu li a:hover{
    opacity: 1;
}


.logo {
    font-weight: 100;
    font-size: 75px;
    text-decoration: none;
    color: brown;
    margin-left: 0%;
    flex-direction: row;
}

.tableN {
    background-color: rgb(228, 221, 124);
    max-width: 300px;
    margin-left: 40%;
    display: flex;
    order: 1;
}

.tableN table {
    margin-left: 30%;
}


.form {
    margin-left: 40%;
    max-width: 300px;
    background-color: rgb(255, 249, 159);
    display: flex;
    flex-direction: column;
    order: 3;
}

.body123 {
    margin-left: 40%;
    flex-direction: column;
    display: flex;
    order: 2;
}

tr:nth-child(even){
    background-color: rgb(47, 134, 30);
}
tr:nth-child(odd){
    background-color: rgb(75, 212, 190);
}

#footer {
    width: 100%;
    background-color: rgb(90, 199, 226);
    padding: 10px;
    height: 100%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    order: 3;
}

@media screen and (min-width: 800px) {
    body {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .hw {
        width: 100%;
        height: 150px;
        box-shadow: 4px 4px 30px 1px rgba(110, 109, 17, 0.9);
        flex-direction: row;
        justify-content: space-between;
        background-color:#ffffff;
    }
    .logo {
        font-weight: 100;
        font-size: 75px;
        text-decoration: none;
        color: brown;
        margin-left: 0%;
    }

    .menu li {
        display: inline-block;
        margin-top: -15px;
        margin-left: 150px;
    }
    
    .menu li a{
        display: inline-block;
        color:darkolivegreen;
        text-decoration: none;
        font-size: 35px;
        opacity: 0.8;
        border-radius: 35px;
        background-color: rgba(188, 199, 94, 0.384);
    }
    
    .menu li a:hover{
        opacity: 1;
    }
    .hw, tableN, .form, .body123 {
        display: flex;
        order: 0;
    }
    #footer {
        display: flex;
        order: 0;
    }
}
